<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainApp/styles.css' %}">
</head>
<body>

<div class="biography">
    <div class="photo-container">
        <img src="{% static 'mainApp/images/Egor.jpg' %}">
    </div>
    <div class="info">
        {{ biography | safe }}
    </div>
    <span  class="projects-ref">
      <a href='/projects'>Projects</a>
    </span>
</div>
</body>
</html>