body {
    background: white url("images/background2.jpg") no-repeat;
    background-size: 100%;
}

li {
    margin-bottom: 5px;
}

li a {
    color: #ffc877;
    font-size: 15pt;
}

.biography {
    width: 30%;
}

.biography .photo-container img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 25%);
}

.biography .info {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: space-around;
    font-size: 20pt;
    background-color: ghostwhite;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 25%);
}

.biography .projects-ref {
    font-size: 30pt;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.biography .content {
  display: flex;
  position: absolute;
  top: 20px;
  right: 100px;
  background-color: rgba(216, 213, 212, 0.5);
  width: 60%;
  height: 95%;
}